
    <div class="header">
      <div class="search-container">
        <input type="text" placeholder="Suchen" />
      </div>
      <div class="icon-container">
        <input type="text" placeholder="Suchen" />
        <div class="toolbar-icons">
          <button>+</button>
          <button>*</button>
          <button>↓</button>
          <button [routerLink]="['/page2']">👤</button>
          <div class="container">
            -
          <div class="actor-list">
            <div class="actor-card">
              <div class="actor-image">
                <img src="C:\Users\joa\Downloads\tanjagrandits2.png" alt="">
              </div>
              <div class="actor-name">{{ actor.name }}</div>
              <div class="title">
                <h1>Tanja Grandits</h1>
              </div>
              <button class="download-button">↓</button>
            </div>
           
          
          <div class="actor-list">
            <div class="actor-card">
              <div class="actor-image">
                <img src="C:\Users\joa\Downloads\tanjagrandits2.png" alt="">
              </div>
              <div class="actor-name">{{ actor.name }}</div>
              <div class="title">
                <h1>Tanja Grandits</h1>
              </div>
              <button class="download-button">↓</button>
            </div>
           
          
          <div class="actor-list">
            <div class="actor-card">
              <div class="actor-image">
                <img src="C:\Users\joa\Downloads\tanjagrandits2.png" alt="">
              </div>
              <div class="actor-name">{{ actor.name }}</div>
              <div class="title">
                <h1>Tanja Grandits</h1>
              </div>
              <button class="download-button">↓</button>
            </div>
          
          
          <div class="actor-list" >
            <div class="actor-card">
              <div class="actor-image">
                <img src="C:\Users\joa\Downloads\tanjagrandits2.png" alt="">
              </div>
              <div class="actor-name">{{ actor.name }}</div>
              <div class="title">
                <h1>Tanja Grandits</h1>
              </div>
              <button class="download-button">↓</button>
            </div>
          </div>
        
          
