  <input type="text" placeholder="Suchen">
  <div class="toolbar-icons">
    <button>+</button>
    <button>*</button>
    <button>↓</button>
    <!-- <button [routerLink]="['/page2']">👤</button> -->
  </div>
  <div class="container">
    <div class="title">
      <h1>Tanja Grandits</h1>
    </div>
    <input type="text" name="Rezept" placeholder="Titel eingeben" />
    <br />
    <textarea name="Zutaten und Schritte" placeholder="Zutaten und Schritte eingeben"></textarea>
    <br />
    <button class="Abbrechen">Abbrechen</button>
    <button class="Abschicken">Abschicken</button>
  </div>

