<div class="toolbar">
  <input type="text" placeholder="Suchen">
  <div class="toolbar-icons">
    <button [routerLink]="['/page5']">+</button>
    <button [routerLink]="['/page7']">*</button>
    <button [routerLink]="['/page6']">↓</button>
    <button [routerLink]="['/page2']">👤</button>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name">
    </div>
    <div class="form-group">
      <label for="vorname">Vorname</label>
      <input type="text" id="vorname">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email">
    </div>
    <div class="form-group">
      <label for="telefon">Telefon</label>
      <input type="text" id="telefon">
    </div>
    <div class="form-group">
      <button type="button">Abbrechen</button>
      <button type="button">Registrieren</button>
    </div>
    <div class="form-group">
      <label for="titel">Titel</label>
      <input type="text" id="titel">
    </div>
    <div class="form-group">
      <label for="probleme">Probleme</label>
      <textarea id="probleme"></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Senden</button>
    </div>
  </form>
  