<div class="toolbar">
  <input type="text" placeholder="Suchen">
  <div class="toolbar-icons">
    <button>+</button>
    <button>*</button>
    <button>↓</button>
    <!-- <button [routerLink]="['/page2']">👤</button> -->
  </div>
</div>
<div class="content">

  <div class="zutaten">
  
    <h3>Zutaten</h3>
    <p>
    
400 - 500 g	Spaghetti
<br>
100 g	Speck- oder Schinkenwürfeli
<br>
1 - 2	Knoblauchzehen
<br>
3	Eier
<br>
1 dl	Rahm
<br>
Pfeffer aus der Mühle
<br>
wenig Salz
<br>
75 g	Sbrinz AOP oder Parmino*, gerieben
    </p>
  </div>


  <div class="steps">
    <h3>Schritt1</h3>
    <p>
      Teller warm stellen. Spaghetti in reichlich Salzwasser al dente kochen.
    </p>
    <h3>Schritt2</h3>
    <p>
      Speck in der Bratpfanne knusprig braten, Pfanne vom Herd nehmen. Knoblauch
      dazu pressen, umrühren. Pfanne etwas abkühlen lassen, damit die Eimasse
      nicht gerinnt beim Mischen mit den Spaghetti.
    </p>
    <h3>Schritt3</h3>
    <p>
      Eier, Rahm, Pfeffer und Salz in einer Schüssel kräftig verrühren. Käse
      daruntermischen. Eimasse in die abgekühlte Bratpfanne zu Speck und Knobli
      giessen. Spaghetti abgiessen und gut abtropfen lassen, zur Eimasse geben.
    </p>
  </div>
</div>
