.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f0f0f0;
  
    input[type="text"] {
      flex-grow: 1;
      margin-right: 10px;
    }
  
    .toolbar-icons button {
      margin-left: 5px;
    }
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  
    .zutate, .steps {
      border: 1px solid #ccc;
      padding: 10px;
      width: 45%;
    }
  
    .steps p {
      margin: 5px 0;
    }
  }
  