<div *appIsInRole= "'admin'">
  <button mat-raised-button [routerLink]="['']">Main</button>
  <button mat-raised-button [routerLink]="['page1']">Page1</button>
  <button mat-raised-button [routerLink]="['page2']">Page2</button>
  <button mat-raised-button [routerLink]="['page3']">Page3</button>
  <button mat-raised-button [routerLink]="['page4']">Page4</button>
  <button mat-raised-button [routerLink]="['page5']">Page5</button>
  <button mat-raised-button [routerLink]="['page6']">Page6</button>

</div>

<div class="Login-Button">
  <button mat-raised-button (click)="login()">Login</button>
</div>
<router-outlet></router-outlet>