

<div class="header">
    <div class="search-container">
        <input type="text" placeholder="Suchen">
    </div>
    <div class="icon-container">
        <input type="text" placeholder="Suchen">
        <div class="toolbar-icons">
            <button [routerLink]="['/page5']">+</button>
            <button [routerLink]="['/page7']">*</button>
            <button [routerLink]="['/page6']">↓</button>
            <button [routerLink]="['/page2']">👤</button>
    </div>
</div>

<div class="container">
    <div class="title">
        <h1>Tanja Grandits</h1>
    </div>
    <div class="columns">
        <div class="column">
            <h2>Pizza</h2>
            <p>Pizza Napoli 
                <br>
                Pizza Margherita
                <br>
                Pizza Funghi
                <br>
                Pizza 4 Staggioni
            </p>
        </div>
        <div class="column">
            <h2>Pasta</h2>
            <p>
                Spaghetti Bolognese
                <br>
                Gorgonzola Gnocci
                <br>
                Al Burro
                <br>
                Carbonara
            </p>
        </div>
        <div class="column">
            <h2>Fleisch</h2>
            <p>
                Hamburger
                <br>
                Steak
                <br>
                Schmorrbraten

            </p>
        </div>
    </div>
</div>


